// starting card
.card {
  padding: 10px 16px 0;
  box-shadow: 7px 8px 5px -5px #b6b5b5;
  margin-bottom: 0.5em;
}

.title {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: rgb(1, 169, 242);
}

.fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(89, 89, 89);

  button {
      border: none;
      border-bottom: 4px solid transparent;
      padding-bottom: 10px;
      cursor: default;
      background-color: transparent;
      border-bottom: 4px solid transparent;
  }
  button:focus {
      outline: none;
  }

  .active {
      border-bottom: 4px solid rgb(1, 169, 242);
  }
}

//suggestions
.suggestions {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;

  .user-card {
      width: 15%;
      margin: 0 0.4em 0.5em;
      padding: 7px 10px;
      display: flex;
      flex-direction: column;

      .user-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: auto;
      }

      .user-name, .user-type, .mutual-connections {
          margin: auto;
      }

      .user-name {
          font-size: 15px;
          height: 19px;
      }

      .user-type {
          font-size: 11px;
          color: grey;
      }

      .mutual-connections {
          line-height: 15px;
          margin-top: 2px;
          font-size: 11px;
      }

      .btns {
          border: none;
          border-radius: 20px;
          background-color: rgb(1, 169, 242);
          width: 80%;
          color: white;
          margin: 0.3em auto;
          padding: 0.2em 0;
          box-sizing: border-box;
          font-size: 11px;
      }
  }
}

// parent card
//request-received,  request-sent,  connections
.parent-card {
  box-shadow: 7px 8px 5px -5px #b6b5b5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 1em;
}

.single-user-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1.4em 0;
  border-bottom: 1px solid #eee;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name, .user-type, .mutual-connections {
  margin: 0;
  text-align: center;
}

.user-name {
  max-width: 90px;
}

.user-type {
  max-width: 60px;
}

.mutual-connections {
  max-width: 115px;
}

.btn-groups {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.blue-btn, .grey-btn {
  border: none;
  border-radius: 20px;
  width: 75px;
  padding: 0.3em;
  box-sizing: border-box;
  font-size: 11px;
}

.blue-btn:focus, .grey-btn:focus {
  outline: none;
}

.blue-btn {
  background-color: rgb(1, 169, 242);
  color: white;
  margin-right: 5px;
}

.grey-btn {
  background-color: rgb(242, 242, 242);
  margin-right: 5px;
}
