.forum-header {
  margin-bottom: 1em;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 75px;
}
.forumImage {
  width: 18%;
}
.forumImage img {
  width: 100%;
  height: 100%;
}
.forumHeading {
  width: 82%;
  padding: 0.3em;
}
.forumHeading h3 {
  margin-left: 5px;
  color: rgb(89, 89, 89);
  letter-spacing: 0.05em;
}

.example-card {
  position: relative;
  margin: 1em auto;
  font-family: microsoft jhenghei;
}

.fas.fa-ellipsis-v {
  position: absolute;
  z-index: 3;
  right: 3%;
  top: 1.5%;
  font-size: 20px;
  color: rgb(89, 89, 89);
  cursor: pointer;
}

.menu-list {
  position: absolute;
  z-index: 2;
  top: 2.3%;
  right: 2%;
  font-size: 15px;
  background-color: white;
  list-style: none;
  border: 1px solid rgb(175, 171, 171);
  padding: 0.4em 0;
}

.menu-list li {
  padding: 0.2em;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: rgb(89, 89, 89);
}

.menu-list li:hover {
  background-color: rgb(229, 246, 254);
  border-top: 1px solid rgb(175, 171, 171);
  border-bottom: 1px solid rgb(175, 171, 171);
}

.thread-desc {
  
    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      margin-bottom: 0px;
      margin-right: 32px;
      font-size: 11px;
      text-align: justify;
    }

    input ~ label {
      text-decoration: underline;
    }
    
    input:checked + p {
      -webkit-line-clamp: unset;
    }
    
    input:checked ~ label {
      display: none;
    }
    
  }
.card-content {
  width: 90%;
  margin: auto;
}

.thread-tags{
  font-size: 11px;
  .tag{
    display: inline-block;
    color: rgb(128, 128, 128);
    background-color: rgb(242, 242, 242);
    margin: 0.3em auto;
    margin-right: 0.7em;
    padding: 0.2em 0.4em;
    border-radius: 20px;
  }
}  

.section {
  font-size: 11px;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  margin: 0.5em auto;
  div {
    display: inline-block;
    color: rgb(128, 128, 128);
    margin: 0.2em 0.3em;
  }
}

.forum-container {
  .ask-question-card .topicName {
    width: 90%;
    margin: 0.3em auto;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(175, 171, 171);
    // box-sizing: border-box;
  }
  .ask-question-card .topicName.ng-invalid.ng-touched, .ask-question-card textarea.ng-invalid.ng-touched {
    border: 1px solid red;
    // background-color: rgb(255, 212, 208);
  }
  .ask-question-card textarea {
    width: 90%;
    margin: 0.3em auto;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(175, 171, 171);
    // box-sizing: border-box;
  }
  button.ask-question-submit {
    width: 110px;
  }

  .ask-question-card .topicName:focus, .ask-question-card textarea:focus {
    outline: none;
    border: 1px solid rgb(89, 89, 89);
    color: rgb(89, 89, 89);
  }
}

.tagArea {
  padding: 0.2em 0.5em;
  width: 90%;
  box-sizing: border-box;
}
.tagArea .tags {
  background-color: rgb(242, 242, 242);
  margin: 0.1em 0.5em 0.5em;
  padding: 0.15em 1em;
  border-radius: 20px;
  display: inline-block;
} 

.ask-question-attributes {
  font-size: 0.85em;
  span {
    display: inline-block;
  }
  .add-attributes{
    display: inline-block;
    padding: 0;
    cursor: pointer;
    list-style: none;
  }
  .add-attributes li {
    background-color: rgb(242, 242, 242);
    margin: auto 0.5em;
    padding: 0.15em 1em;
    border-radius: 20px;
    display: inline-block;
  }
  .add-tags {
    width: 120px;
    border: 1px solid  rgb(175, 171, 171);
    // height: 27.63px;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
    // font-size: 0.85em;

    input.add-tag-input {
      font-size: 0.95em;
      width: 67%;
      height: 100%;
      margin: 0;
      padding: 0.3em 1em;
      color: rgb(89, 89, 89);
      border: none;
      border-radius: 1em;
      display: inline-block;
      box-sizing: border-box;
    }
    input.add-tag-input:focus {
      outline: none;
    }
    .add-tag {
      font-size: 0.95em;
      width: 33%;
      height: 100%;
      background-color: transparent;
      color: rgb(89, 89, 89);
      margin: 0;
      padding: 0.3em 0.5em;
      border-radius: 0;
      border-left: 1px solid   rgb(175, 171, 171);
      display: inline;
      cursor: pointer;
    }
  }
  .add-category{
    margin-left: 15px;
    display: inline-block;
  }
  .add-category a {
    margin-left: 7px;
  }

  .add-category a i {
    margin-left: 3px;
  }
}

// .ivd {
//   position: fixed;
// }

.ivd img, .ivd div {
  // position: absolute;
  // z-index: 10;
  width: 100%;
  height: 100%;
  // background-color: royalblue;
}
// .ivd .far.fa-times-circle {
//   position: absolute;
//   z-index: 100;
//   right: 1%;
//   top: 1%;
//   display: none;
//   font-size: 30px;
//   // width: 50px;
//   // height: 50px;
//   color: rgb(89, 89, 89);
// }

.ivd div {
  background-color: rgba(0, 0, 0, 0.452);
  color: rgb(242, 242, 242);
  display: grid;
  place-items: center;

  i {
    font-size: 4em;
  }

  span {
    font-size: 5em;
  }
}
// .ivd:hover, .ivd:focus {
//   .far.fa-times-circle {
//     display: block;
//   }
// }

.user-image {
  width: 50px;
  height: 50px;
}
.user-image img {
  width: 100%;
  height: 100%;
}

.post-title {
  font-size: 15px;
}

.post-title:hover {
  cursor: pointer;
  color: rgb(1, 169, 242);
}

.post-details {
  font-size: 11px;
  color: rgb(128, 128, 128); 
  
  .username {
    cursor: pointer;
  }
  .username:hover, .username:focus {
    color: rgb(1, 169, 242);
  } 
}

//sort by line dropdown...

.sort-by-dropdown {
  border: 1px solid rgb(175, 171, 171);
  background: white;
  margin: 0;
  padding: 0.3em 0;
  list-style: none;
  position: absolute;
  z-index: 1000;
  width: 150px;

  li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0.2em;
    margin: 0;
  }
  li:hover {
    border-top: 1px solid rgb(175, 171, 171);
    border-bottom: 1px solid rgb(175, 171, 171);
    background-color: rgb(229, 246, 254);
    cursor: pointer;
  }
}