.thread-card {
  display: grid;
  grid-template-columns: 1fr 20fr;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: rgb(233, 174, 47);
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  height: 5px;
  width: 5px;
  margin-top: -5px;
  background-color: rgb(233, 174, 47);
  border-radius: 50%;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -2px;
}

.subhead {
  color: #bbb;
  font-size: 11px;
}

//filters

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background: white;
    padding: 3px 10px;
    border: 1px solid darkgrey;
    color: rgb(89, 89, 89);
    margin: 0;
    cursor: pointer;

    .filter-para {
      margin: 0;
      width: 80%;
      .filter-icon {
        font-size: 11px;
        width: 14px;
        height: 14px;
      }
    }

    .blue-highlight {
      color: rgb(1, 169, 242);
    }
  }

  .right-side-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .sort-by {
      width: 41%;
      text-align: center;
      font-size: 13px;
      font-weight: bolder;
      color: rgb(139 139 139);

      .sort-icon {
        font-size: 14px;
        width: 16px;
        height: 16px;
        margin: 0;
        padding: 0;
      }
    }
    .latest {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: white;
      padding: 3px 10px;
      border: 1px solid darkgrey;
      color: rgb(89, 89, 89);
      width: 50%;

      .filter-para {
        margin: 0;
        width: 80%;
        .filter-icon {
          font-size: 11px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

//more filters section

.more-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 16px;
  box-sizing: border-box;
  font-family: microsoft jhenghei;
  margin: 2rem 0;

  .left-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    .each-filter {
      border: 1px solid #dfdfdf;
      width: 30%;
      padding: 0.4em 0.6em;
      box-sizing: border-box;
      font-size: 11px;
      color: rgb(89, 89, 89);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span {
        letter-spacing: 0.03em;
      }
    }
  }

  .right-side {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}

.filters1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

.right-side-filters1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-evenly;
  align-items: center;
  width: 50%;

  .latest1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 3px 10px;
    border: 1px solid darkgrey;
    color: rgb(89, 89, 89);
    width: 150px;

    .filter-para {
      margin: 0;
      width: 80%;
      .filter-icon {
        font-size: 11px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.filters2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

.right-side-filters2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-evenly;
  align-items: center;
  width: 80%;

  .latest2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 3px 10px;
    border: 1px solid darkgrey;
    color: rgb(89, 89, 89);
    width: 200px;

    .filter-para {
      margin: 0;
      width: 80%;
      .filter-icon {
        font-size: 11px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.defaultmyfeed-filter {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  color: #808080;
}


.material-icons{
  height:25px;
  width:25px;
}





// Buttons 
.ques button {
  border: none;
  outline: none;
  color: white;
  background-color: #00abf3;
  height: 30px;
  border-radius: 25px;
  font-size: 15px;
  font-family: microsoft jhenghei;
  line-height: 10px;
}

.ques_button {
  margin-top: 8px;
}