<div class="container-popup">
    <div class="heading">
        <p>Guidelines for Password</p>
    </div>
    <div>
        Please choose a password that fulfills following criteria:
    </div>
    <ol class="rules">
        <li>At least 8 characters—the more characters, the better.</li>
        <li>A mixture of both uppercase and lowercase letters.</li>
        <li>A mixture of letters and numbers.</li>
        <li>Inclusion of at least one special character, e.g., ! @ # ? ] Note: do not use < or > in your password, as both can cause problems in Web browsers.</li>
    </ol>
    <div class="button">
        <button mat-raised-button mat-dialog-close class="mat-focus-indicator mat-raised-button mat-button-base mat-primary final_submit_btn">Ok</button>
    </div>

    <div class="cross">
        <i class="far fa-times-circle cross-icon" mat-dialog-close></i>
    </div>
</div>
