<div class="container">
    <h2 class="heading" >Share</h2>
    <div class="inputField">
        <input type="text">
        <div class="copyBtn">copy</div>
    </div>
    <div class="socialMedia" >
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-whatsapp-square"></i>
    </div>
    <div class="actionButtons">
        <button class="shareBtn" (click)="onNoClick()">Share</button>
        <button class="cancelBtn" (click)="onNoClick()">Cancel</button>
    </div>
    <i class="far fa-times-circle" (click)="onNoClick()"></i>
</div>