#itsoftware-img                           //to display image in the interest component using sprites image.
{
    height: 488px;
    width: 488px;
    background: -10px -547px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.239;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
    max-width: 100%;
}
#business-img
{
    height: 403px;
    width: 404px;
    background: -10px -1055px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.288;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#personality-development-img{
    height: 338px;
    width: 337px;
    background: -1508px -742px; 
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.345;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#design-img{
    height: 437px;
    width: 437px;
    background: -518px -547px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.267;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#marketing-img{
    height: 259px;
    width: 258px;
    background: -10px -1478px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.452;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#lifestyle-img{
    height: 512px;
    width: 512px;
    background: -546px -10px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom:0.228;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#photography-img{
    height: 344px;
    width: 344px;
    background: -1508px -378px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.34;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#health-and-fitness-img{
    height: 348px;
    width: 348px;
    background: -1508px -10px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.335;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#teacher-training-img{
    height: 398px;
    width: 397px;
    background: -854px -1055px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.295;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#music-img{
    height: 307px;
    width: 307px;
    background: -1508px -1100px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.38;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#academics-img{
    height: 410px;
    width: 410px;
    background: -1078px -10px;
    margin-top: 0px !important;
    border: 1px solid hsl(0, 0%, 58%);
    background-repeat: no-repeat;
    zoom: 0.285;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#language-img{
    height: 408px;
    width: 408px;
    background: -1078px -440px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    background-repeat: no-repeat;
    zoom: 0.285;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#examination-img{
    height: 401px;
    width: 400px;
    background: -434px -1055px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.293;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
}
#others-img{
    height: 517px;
    width: 516px;
    background: -10px -10px;
    margin-top: 0px !important;
    border: 1px solid #949393;
    margin-left: 0px !important;
    background-repeat: no-repeat;
    zoom: 0.226;
    -moz-transform:scale(0.06);
    transform: scale(1);
    -moz-transform-origin: 0 0;
    transform-origin: (0);
    margin-left: 120px;
}
#myFeed-grid{
    margin-top: 0px;
    margin-left: -20px !important;
    padding: 0px !important;
}

.interest-name{                    //designing the name of the interest
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#interest-Follow-1, #interest-Follow-2, #interest-Follow-3 ,#interest-Follow-4 ,#interest-Follow-5 ,#interest-Follow-6 ,#interest-Follow-7 ,#interest-Follow-8 ,#interest-Follow-9 ,#interest-Follow-10 ,#interest-Follow-11 ,#interest-Follow-12 ,#interest-Follow-13 ,#interest-Follow-0 {                //designing the follow button of interest 
    text-align: center;
    border: none;
    outline: none;
    height: 20px;
  width: 80px;
  border-radius: 25px;
  background-color:  #00ABF3;
  color: white;
}
.interest-name-first{                 // first line name design of interest have 2 lines name display
    margin-top: 0px;
    text-align: center;
}
.interest-name-second{                  // second line of the same
    margin-top: -2px;
    text-align: center;
    margin-bottom: 2px;
}

.single-interest-box{                 // designing the interest layout like box-shadow and all.
    margin-top: -12px;
    padding:0px !important ;
    width: 118px;
    height: 185px;
    box-shadow:  0px 1px 7px -1px #b3b2b2;
    text-align: center;
}

#card-popup {                       // to design the whole component container
    // height:450px;
    width: 680px;
    margin-top: 0px;
    padding-right:-10px;
    z-index: 0;
  }
.lower-dialogue{                       // the div containing the functional buttons of pop up
    background-color: white;
    padding-top: 10px;
    height: 40px;
    width: 650px;
    box-shadow: 0px -10px 5px white;
    position: absolute;
}

#interest-skip{
    // margin-left: -20px;
    text-align: center;
    border: none;
    outline: none;
    height: 30px;
  width: 150px;
  border-radius: 25px;
  background-color:  #00ABF3;
  color: white;
//   position: absolute;
}
#interest-apply{
    margin-left: 20px;
    text-align: center;
    border: none;
    outline: none;
    height: 30px;
  width: 150px;
  border-radius: 25px;
  background-color:  #d3d3d3;
  color: white;
//   position: absolute;
}

.mat-dialog-content {
    display: block;
     margin: 0px !important; 
    padding: 0 24px;
    max-height: 65vh;
}